<%- include('../partials/head.ejs') %>


<div class="container">
    <div class="text-center">
        <h1> New Service</h1>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-6 ">
            <form action="<%=baseUrl%>" method="post">
                    <div class="form-floating mb-3">
                    <input type="text" name="title" id="service" placeholder="service" class="form-control" required/>
                    <label for="title" class="form-label" >Service</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="text" name="phone" class="form-control" placeholder="Phone" id="phone" required/>
                    <label for="phone"class="form-label ">Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="text" name="email" class="form-control" id="email" placeholder="my@email.com" required/>
                    <label for="email"class="form-label ">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                    <input type="text" name="location" class="form-control" placeholder="Address" id="location" required/>
                    <label for="location"class="form-label">Address</label>
                    </div>

                    <label for="greatArea"class="form-label">Great Area</label>
                    <input type="text" name="greatArea" class="form-control" placeholder="Sydney,Melbourne,Adelaide,Brisbane,Perth" id="greatArea" required/>



                <label for="description"class="form-label mt-2">Desciption</label>
                <textarea name="description" class="form-control" id="description" cols="30" rows="10"></textarea>
                <label for="image"class="form-label mt-2">Images</label>
                <input type="file" name="image" class="form-control" id="imageURL">


                <div class="text-end my-3">
                <input type="submit" class="btn btn-success" value="Create Service">
                </div>
            </form>
        </div>
    </div>
</div>





<%- include('../partials/footer.ejs') %>
